@page "/template/create"

<MudContainer Gutters="true" MaxWidth="MaxWidth.Medium" Class="justify-center">

    @*Cover photo configuration start*@    
    @if (_createTemplateDto.ImageUrl != null)
    {
        <MudImage
            Src="@_createTemplateDto.ImageUrl"
            ObjectFit="ObjectFit.Contain"
            Fluid="true"
            Class="rounded-lg pt-2"/>
    }
    else
    {
        <MudPaper Height="100px" Class="mud-theme-primary rounded-lg mt-2"/>
    }
    <div class="d-flex">
        @if (CoverImagePublicId is not null)
        {
            <MudFileUpload
                T="IBrowserFile"
                Accept=".png, .jpg, .jpeg"
                FilesChanged="ReplaceCoverPhoto">
                <ActivatorContent>
                    <MudButton
                        Variant="Variant.Text"
                        Color="Color.Primary"
                        StartIcon="@Icons.Material.Filled.Image">
                        Replace Cover
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
            <MudButton
                OnClick="RemoveCoverPhoto"
                Variant="Variant.Text"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Cancel">
                Remove Cover
            </MudButton>
        }
        else
        {
            <MudFileUpload
                T="IBrowserFile"
                Accept=".png, .jpg, .jpeg"
                FilesChanged="UploadCoverPhoto">
                <ActivatorContent>
                    <MudButton
                        Variant="Variant.Text"
                        Color="Color.Primary"
                        StartIcon="@Icons.Material.Filled.Image">
                        Add Cover
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
        }
    </div>
    @*Cover photo configuration end*@
    
    @*Template Cnnfiguration start*@
    @*Template Configuration end*@
</MudContainer>