@using XForms.Data
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="1">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
                                  Edge="Edge.Start"/>
        <MudText Typo="Typo.h5" Class="ml-3">XForm</MudText>
        <MudSpacer/>
        <MudPaper Width="40%" Class="px-2">
            <MudAutocomplete
                T="Template"
                AdornmentIcon="@Icons.Material.Filled.Search"
                Variant="Variant.Text"
                Clearable="true"
                Adornment="Adornment.Start"
                AdornmentColor="Color.Inherit"
                @bind-text="_searchString"
                ResetValueOnEmptyText="true"
                ValueChanged="ManageSearchSelection"
                Placeholder="Search"
                ToStringFunc="@(template => template?.Title)"
                SearchFunc="SearchTemplates"
                Class="my-2"/>
        </MudPaper>
        <MudSpacer/>
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>