@using XForms.Data

@if (_templates.Count == 0)
{
    <MudText Align="Align.Center" GutterBottom="true">You have no templates yet</MudText>
    <div class="d-flex justify-center">
        <MudButton
            Variant="Variant.Outlined"
            OnClick="NewTemplate"
            Color="Color.Primary">
            Create
        </MudButton>
    </div>
}
else
{
    <MudDataGrid T="Template"
                 Items="_templates"
                 SortMode="SortMode.Multiple"
                 @bind-SelectedItems="_selectedTemplates"
                 @ref="_templateDataGrid"
                 MultiSelection="true"
                 RowClick="NavigateToTemplate"
                 Breakpoint="Breakpoint.Sm"
                 Hover="true"
                 Striped="true"
                 Dense="true">
        <ToolBarContent>
            <MudText Typo="Typo.h5">Templates</MudText>
            <MudSpacer/>
            <MudButtonGroup OverrideStyles="false">
                <MudButton
                    StartIcon="@Icons.Material.Filled.Add"
                    Variant="Variant.Outlined"
                    OnClick="NewTemplate"
                    Color="Color.Primary">
                    Create
                </MudButton>
                <MudButton
                    StartIcon="@Icons.Material.Filled.Delete"
                    Variant="Variant.Outlined"
                    Color="Color.Error"
                    OnClick="DeleteSelectedTemplates">Delete
                </MudButton>
            </MudButtonGroup>
        </ToolBarContent>
        <Columns>
            <SelectColumn T="Template"/>
            <PropertyColumn Property="t => t.Title"/>
            <TemplateColumn Title="Published">
                <CellTemplate>
                    @if (context.Item.IsPublic)
                    {
                        <MudText>Yes</MudText>
                    }
                    @if (!context.Item.IsPublic)
                    {
                        <MudText>No</MudText>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="t => t.CreatedAt" Title="Created At"/>
            <PropertyColumn Property="t => t.UpdatedAt" Title="Updated At"/>
        </Columns>
    </MudDataGrid>
}